@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*------ Common Stylse ------*/
*, body{
    font-family: 'Poppins', sans-serif;
    color: #383838;
}

/*------ Header setion style ------*/
.header-section{
    background-color: rgb(97,41,237);
    width: 100%;
    min-height: 100vh;
}
.header-section h1{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 1px;
}
.header-section ul li a, .navbar-brand,.header-section ul li a:hover{
    color: #fff;
    font-size: 15px;
}
.badge {
    width: 50%;
    height: 65%;
    font-size: 9px;
    padding-top: 5px;
    margin-top: 2px;
    margin-left: -2px;
}
.gem-badge{
    width: 80px;
    padding: 7px 10px;
    margin-top: -3px;
}
.gem-badge span{
    font-size: 18px;
    font-weight: 500;
}

.profile{
    width: 58px;
    height: 58px;
    margin-top: -5px;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover, 
/* .navbar-light .navbar-brand,  */
/* .navbar-light .navbar-brand:hover,  */
.navbar-light .navbar-collapse{
    color: #fff;
}

/*------ Slider section style -------*/
.slider-section{
    margin-top: 60px;
    margin-bottom: 30px;
}